@model Associativy.Administration.Models.AssociativyNodeManagementPart
@{
    Script.Require("jQueryUI_Tabs").AtFoot();
    Script.Require("AssociativyFrontends_AutoComplete").AtFoot();
    Style.Require("jQueryUI_Orchard");
}
<fieldset>
    <legend>@T("Associativy graph settings")</legend>
    <div id="associativy-tabs">
        <ul>
            @foreach (var provider in Model.GraphDescriptors)
            {
                <text><li><a href="#associativy-tabs-@provider.Name">@provider.DisplayName.Text</a></li></text>
            }
        </ul>
        @{
            int labelsIndex = 0;
        }
        @foreach (var provider in Model.GraphDescriptors)
        {
            <text>
            <div id="associativy-tabs-@provider.Name">
                <fieldset>
                    <legend>@T("Edit connections")</legend>
                    <ol>
                        <li>
                            @Html.Label("NeighbourLabels[" + labelsIndex + "]", T("Neighbours").Text)
                            @Html.TextBox("NeighbourLabels[" + labelsIndex + "]", Model.NeighbourLabels[labelsIndex], new { @class = "text large" })
                        </li>
                    </ol>
                    <span class="hint">@T("Type labels of neighbours here, separate by commas. After the first few letters the labels are auto-completed.")</span>
                </fieldset>
            </div>
            @using (Script.Foot())
            {
                <script type="text/javascript">
                    $(function () {
                        @*Is there a better way to get the textbox's id? *@
                        $.associativy.autoComplete.labels("#" + $("#associativy-tabs-@provider.Name").find("input[type=text]").attr("id"), "@Url.RouteUrl("Associativy.Frontends.AutoComplete.FetchSimilarLabels", new { GraphName = provider.Name })");
                    });
                </script>
            }
            </text>
            labelsIndex++;
        }
    </div>
</fieldset>
@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $("#associativy-tabs").tabs();
        });
    </script>
}