@model Associativy.Administration.Models.AssociativyGraphPart

<fieldset>
    <legend>@T("Graph settings")</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.DisplayGraphName, T("Display graph name"))
            @Html.TextBoxFor(m => m.DisplayGraphName, new { @class = "text textMedium" })
            @Html.ValidationMessageFor(m => m.DisplayGraphName)
        </li>
        <li>
            @Html.LabelFor(m => m.GraphName, T("Technical graph name"))
            @Html.TextBoxFor(m => m.GraphName, new { @class = "text textMedium" })
            @Html.ValidationMessageFor(m => m.GraphName)
        </li>
        <li>
            @Html.LabelFor(m => m.ContentTypes, T("Content types to store"))
            @Html.TextBoxFor(m => m.ContentTypes, new { @class = "text textMedium" })
            @Html.ValidationMessageFor(m => m.ContentTypes)
            <ul>
            @for (int i = 0; i < Model.ContentTypes.Count; i++)
            {
                <li>
                    @Html.HiddenFor(m => m.ContentTypes[i].Id)
                    @Html.CheckBoxFor(m => m.ContentTypes[i].IsAttached)
                    <label for="@Html.FieldIdFor(m => m.ContentTypes[i].IsAttached)" class="forcheckbox">@Model.ContentTypes[i]</label>
                </li>
            }
            </ul
        </li>
    </ol>
</fieldset>