@model Associativy.Administration.Models.Pages.Admin.AssociativyManageGraphPart
           
@{
    var implicitlyCreatableTypesSelectListItems = new List<SelectListItem> { new SelectListItem { Text = T("None").Text, Value = string.Empty } };
    implicitlyCreatableTypesSelectListItems
        .AddRange(Model.ImplicitlyCreatableContentTypes
            .Select(type => new SelectListItem { Text = type.DisplayName, Value = type.Name }));
}

<div id="associativy-administration-graph-settings-container">
        <fieldset>
            <legend>@T("Administration settings")</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.GraphSettings.NeighboursDisplayedMaxCount, T("Maximal number of neighbours displayed"))
                    @Html.TextBoxFor(m => m.GraphSettings.NeighboursDisplayedMaxCount, new { @class = "text text-small" })
                    <span class="hint">@T("Maximal number of neighbours displayed at once when administering connections.")</span>
                </li>
                <li>
                    @Html.LabelFor(m => m.GraphSettings.ImplicitlyCreatableContentType, T("Implicitly creatable content type"))
                    @Html.DropDownListFor(m => m.GraphSettings.ImplicitlyCreatableContentType, implicitlyCreatableTypesSelectListItems)
                    <span class="hint">@T("You'll be able to create new items from the content type specified here through the Node Management Part by specifying a not existing label. Only types that have a part capable of handling implicit creation are listed.")</span>
                </li>
            </ol>
        </fieldset>
</div>